@use "sass:map";
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:thin,extrelight,light,regular,regularitalic,medium,mediumitalic,semibold,semibolditalic,bold,bolditalic);
@import "vars";

:root {
    font-size: 16px;
}

body {
    background-color: #cece86;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 61px;

    &.display {
        line-height: 75%;
    }
}

h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 41px;
    &.display {
        line-height: 100%;
    }
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 31px;
    &.display {
        line-height: 100%;
    }
}

h4 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    &.display {
        line-height: 75%;
    }
}

h5 {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 15px;
}

p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    font-weight: 500;
    text-decoration: none;
}

.hard-shadow {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

    &-lg {
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &-sm {
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    }

    &-inset {
        box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}

.tx-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

    &-lg {
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &-sm {
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    }

    &-inset {
        text-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}
